<?xml version="1.0"?>
<launch>

  <!-- run mono calibration for the camera(s), for which we have good sample images inside the bag file -->
    <node type="calibrate_from_bag.py" pkg="cob_camera_calibration" name="cob_camera_calibration" output="screen">
        <param name="pattern_size" value="9x6" />
        <param name="square_size" value="0.03" />
        <param name="check_goodenough" value="false" />
        <rosparam param="cameras" file="$(find cob_calibration_config)/$(env ROBOT)/user_defined/cameras.yaml" />  
    </node>



</launch>
