<?xml version="1.0"?>
<launch>

<!-- Parameters -->
    <arg name="robot" default="$(env ROBOT)"/>
    <arg name="with_db" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="rviz_sim_flag" default="true"/>
    
    <!-- Load universal robotic description format (URDF) -->
    <arg name="config_path" default="$(find cob_moveit_config)/$(arg robot)/config"/> <!-- Define path from wich to read-->
    <arg name="robot_description" default="robot_description"/> <!-- Name of parameter where SRDF will be stored-->
    <include file="$(find cob_hardware_config)/common/upload_robot.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
    
    <!--Loading SRDF for moveit package  -->
     <param name="$(arg robot_description)_semantic" textfile="$(arg config_path)/robot.srdf" />
     
    <!--Loading rivs  -->
    <include file="$(find cob_moveit_config)/launch/rviz.launch" if="$(arg rviz_sim_flag)">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="config" value="true"/>
    </include>
     
    <!--initialize move it and its services  -->
    <include file="$(find cob_moveit_config)/launch/move_group.launch"/>
    
    <!--initialize parameters and chessboard  -->
    <include file="$(find cob_calibration_executive)/launch/chessboard_position.launch"/>
    <include file="$(find cob_calibration_executive)/launch/upload_params.launch"/>
    
    <!-- run Trial node to check the robot -->
    <!-- <node type="Robot_Trial.py" pkg="cob_calibration_executive" name="$(anon Robot_Trial)" output="screen"></node> -->
    
    <!-- run stereo calibration of left and right camera -->
    <node type="generate_positions.py" pkg="cob_calibration_executive" name="$(anon generate_calibration_positions)" output="screen">
        <param name="output_path" value="$(find cob_calibration_config)/$(env ROBOT)/autogenerated/"/>
        <param name="camera_view_angle" value="0.523598776"/> <!-- This should be moved to a yaml file-->
        <rosparam command="load" ns="/cob_calibration_executive" file="$(find cob_calibration_config)/$(arg robot)/user_defined/generate_positions_config.yaml" />
    </node>
    
    






</launch>
